﻿@using TestLifeIt.DataBase.SQLite.Models
@model TestLifeIt.Models.SearchModel

@{
    ViewData["Title"] = "Home Page";
}

<script>
    function setDisable(id) {
        document.getElementById(id).disabled = true;
    };
</script>

<div class="row justify-content-center align-items-center">
    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="text-center">
            <div class="form-group">
                <label class="col-sm-12" style="text-align: left; font-size: 24px; font-weight: bold; color: black;">Введите исполнителя:</label>
                <div class="col-sm-12">
                    @Html.TextBoxFor(m => m.SearchString, new { @class = "form-control", @style = "font-weight: bold;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <input id="submit"
                           type="submit"
                           value="Поиск"
                           style="width: 100%; height: 40px; font-weight: bold;"
                           onclick="document.forms[0].submit();setDisable(this.id);" />
                </div>
            </div>
        </div>
    }
    
<div class="col-sm-12">
    @foreach (var history in ((List<History>) ViewData["History"]))
    {
        <div class="col-sm-12">
            <p class="col-sm-12">@history.ArtistName</p>
            <img width="100" height="100" src="@history.ArtworkUrl60">
        </div>
    }
        </div>
    </div>